#header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

#nav {
	line-height:30px;
	background-color:#eeeeee;
	text-align:center;
	word-spacing: 20px; 
	padding:5px;	      
}

#side {
	background-color:#eee0ee;
    	height:300px; 
    	width:100px;
    	float:left;
    	padding:5px; 
	text-align:center;
}

#section {
	text-align:center;
	padding:15px;	 	 
}

#footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;	 	 
}