a:link {
	color: #000000;
	text-decoration: none; 
}

a:visited {
	color: #000000; 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline; 
}

.header {
	background-color: #1D497D;
	color: #eeeeee;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	padding: 5px;
	background-image: url("pictures/colorbar.gif");
	background-repeat: repeat-x; 
}

nav {
	/*list-style-type: none; */
	background-color: #778899;	/*lightslategray*/
	font-weight: bold; 
	text-align: right;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin: 0; 
	padding: 0;
}

.nav_element {
	display: inline;
	border-left: 1px solid #000000;
	font-size: large; 
	line-height: 35px;
	text-align: center;
	padding: 5px;	      
}

.nav_element a {
	display: block;
	color: #F0FFFF;		/*azure*/
}

.nav_element a:hover {
	background-color: #708090;	/*slategray*/
}

/*.fieldHidden {
	display: none;
}*/

.side {
	background-color:#eee0ee;
	height:300px; 
	width:100px;
	float:left;
	padding:5px; 
	text-align:center;
}

.section {
	text-align:center;
	padding:15px;	 	 
}

.sectionText {
	text-align:center;
	padding:15px;	 
	background-color:#F0F8FF; /*aliceblue*/	 
}

.sectionPic {
	text-align:center;
	padding:15px;
	background-color:black; /**/	 	 
}

.footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;	 	 
}