@import url(https://fonts.googleapis.com/css?family=Rasa);

:root {
	--main-bg-color: #10335B; 		/*black-blue*/
	--main-title-color: #AAB5C0; 	/*alice-blue*/F0F8FF
	--main-font-color: #AAB5C0;
}

body {
	background-color: var(--main-bg-color); 
	color: var(--main-title-color);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: Rasa, serif; 
	background-image: url("pictures/colorbar.gif");
	background-repeat: repeat-x; 
	background-position: bottom;
}

.header {
	/*background-color: #1D497D;*/
	text-align: center;
	padding: 5px;
}

nav {
	/*list-style-type: none; */
	/*background-color: #778899;*/	/*lightslategray*/
	/*font-weight: bold; */
	text-align: left;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin: 0; 
	padding: 0;
}

.nav_element {
	display: inline;
	border-left: 1px solid #000000;
	font-size: 1.3em; 
	line-height: 35px;
	text-align: center;
	padding: 5px;	      
}

.nav_element a {
	display: block;
	/*color: #F0FFFF;*/		/*azure*/
}

.nav_element a:hover {
	background-color: #708090;	/*slategray*/
}

fieldset { 
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 1em;
    padding-right: 1em;
/*    border: 2px groove (internal value);
*/}

#frontPage{
padding-top: 1em;
    display: box;
  flex-align: center;
  flex-pack: center;
}

h1 {
	font-size: 3em; 
}

h2 {
	font-size: 2.3em; 
}

h3 {
	font-size: 2em; 
}

h4 {
	font-size: 1.7em; 
}

h5 {
	font-size: 1.5em; 
}

h6 {
	font-size: 1.3em; 
}

p {
	font-size: 1.1em; 
}

img {
	max-width: 500px;
	max-height: 400px;

}

a:-webkit-any-link {
    color: var(--main-title-color);
    text-decoration: none;
    cursor: auto;
}

a:hover {
	text-decoration: underline; 
	font-weight: bold; 
}

/*.side {
	background-color:#eee0ee;
	height:300px; 
	width:100px;
	float:left;
	padding:5px; 
	text-align:center;
}*/

.section {
	text-align: center;
	color: var(main-font-color);
	/*padding: 15px;*/	 	 
}

/*.sectionText {
	text-align:center;
	padding:15px;
	background-color:#F0F8FF;
	width: 50%;
}

.sectionPic {
	text-align:center;
	padding:15px;
	width: 50%;  	 
}*/

/*.footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	padding:5px;	 	 
}*/